.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .form-container button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    grid-column: span 6;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  
  .skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
  }
  
  .skill-container input[type="text"],
  .skill-container input[type="number"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .skill-container .delete-skill-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .skill-container .delete-skill-button:hover {
    background-color: #d32f2f;
  }
  
  .submit-button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #007ca1;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  /* Estilos para el botón de agregar habilidad */
  .add-skill-button {
    background-color: #6cc034;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add-skill-button:hover {
    background-color: #adaf4c;
  }
  
  /* Estilos para el botón de agregar empleado */
  .submit-button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #007ca1;
  }